body{
    color: black;
    background-color: #fcfcfc;
    /*user-select: none;*/
}

#Menu{
    width: 100%;
    border: 1px solid black;
    height: 7.5%;
    position: fixed; /* Лучше fixed для меню */
    top: 0.1%; /* Фиксируем вверху */
    left: 0%;
    margin-bottom: 4%;
    background: white;
    z-index: 1000;
}

#Menu > div:hover{
    background-color: black;
    color: #fcfcfc;
}

#Menu > div{
    transition: 0.5s;
    border: 0px solid black;
    height: 5.2%;
    border-radius: 10% / 25%;
    margin-top: 0.05%;
    padding-top: 1%;
    text-decoration: none; /* Убирает подчёркивание */
    color: inherit;
}

#Menu > a{
    text-decoration: none;
    color: black;
}

#Menu #Entrance{
    margin-left: 90%;
    position: fixed;
    width: auto;
    padding-left: 1%;
    padding-right: 1%;
}

#Menu #User{
    margin-left: 70%;
    width: auto;
    position: fixed;
    padding-left: 1%;
    padding-right: 1%;
}

#Menu #UserText{
    margin-left: 45%;
    width: auto;
    position: fixed;
    padding-left: 1%;
    padding-right: 1%;
}

#GeneralInfo{
    width: 45%;
    height: 90%;
    margin-left: 27%;
    border: 1px solid black;
    position: absolute;
    top: 9%;
    text-align: center;
    border-radius: 2% / 2%;
}

#GeneralInfo ul {
    list-style-type: none;
}

#GeneralInfo h2{
    align-items: center;
}
#GeneralInfo #Transfer{
    border: 1px solid black;
    height: auto;
    padding: 2%;
    margin-left: -6%;
    width: 100%;
    border-radius: 1% / 50%;
    transition: 0.5s;
    color: black;
}

#GeneralInfo #Transfer:hover{
    background-color: black;
    color: white;
}

#GeneralInfo #HrefForRegisration{
    transition: 0.5s;
    border: 0px solid black;
    height: 5.2%;
    border-radius: 10% / 25%;
    margin-top: 0.05%;
    padding-top: 1%;
    text-decoration: none; /* Убирает подчёркивание */
    color: inherit;
}

#GeneralInfo #HrefForRegisration:hover{
    background-color: black;
    color: #fcfcfc;
}

.form-group{
    padding: 3%;
}

#passwordForm{
    margin-left: -4%;
    padding: 3%;
}