body{
    color: black;
    background-color: #fcfcfc;
    user-select: none;
}

a{
    text-decoration: none;
}

#Menu{
    width: 100%;
    border: 1px solid black;
    height: 50px;
    position: fixed; /* Лучше fixed для меню */
    top: 0.1%; /* Фиксируем вверху */
    left: 0%;
    margin-bottom: 4%;
    background: white;
    z-index: 1000;
    transition: 0.5s;
}

#Menu:hover{
    box-shadow: 0px 0px 10px black;
}

#Menu > div:hover{
    background-color: black;
    color: #fcfcfc;
    transform: translateY(-2.5px)
}

#Menu > div{
    top: 7px;
    transition: 0.5s;
    border: 1px solid black;
    height: auto;
    border-radius: 25% / 100%;
    color: black;
    width: auto;
    position: fixed;
}

#Menu > div > a{
    display: inline-block;
    color: black;
    width: auto;
    user-select: none;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25% / 100%;
}

#Menu > div > a:hover{
    color: white;
}

#Menu #Entrance{
    margin-left: 90%;
}

#Menu #User{
    margin-left: 70%;
}

#Menu #UserText{
    margin-left: 45%;
}

#GeneralInfo{
    width: 45%;
    height: 90%;
    margin-left: 27%;
    border: 1px solid black;
    position: absolute;
    top: 9%;
    text-align: center;
    border-radius: 2% / 2%;
}

#GeneralInfo ul {
    list-style-type: none;
    max-width: 100%;
    padding-left: 0;
    margin: 0;
    padding-top: 2%;
}

#GeneralInfo ul > li:last-child{
    border-bottom: 1px solid black;
}

#GeneralInfo h2{
    align-items: center;
}
#GeneralInfo #Transfer{
    border-top: 1px solid black;
    height: auto;
    position: relative;
    width: auto;
    transition: 0.5s;
    color: black;
}

#GeneralInfo #Transfer > a{
    display: inline-block;
    color: black;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
}

#GeneralInfo #Transfer:hover > a{
    color: white;
}

#GeneralInfo #Transfer:hover{
    background-color: black;
    color: white;
    box-shadow: 0px 0px 10px black;
}

#GeneralInfo #HrefForRegisration{
    transition: 0.5s;
    border: 0px solid black;
    height: auto;
    border-radius: 10% / 25%;
    margin-top: 0.05%;
    padding-top: 1%;
    text-decoration: none; /* Убирает подчёркивание */
    width: auto;
    position: relative;
}

#GeneralInfo #HrefForRegisration > a{
    display: inline-block;
    margin-top: 2%;
    transition: all 0.5s;
    color: black;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 25% / 100%;
    border: black solid 1px;
}

#GeneralInfo #HrefForRegisration > a:hover{
    background-color: black;
    color: white;
    position: relative;
    transform: translateY(-2.5px)
}

#GeneralInfo #pagination{
    position: absolute;
    left: 48%;
    bottom: 0.2%;
    display: flex; /* Используем flexbox для выравнивания элементов по горизонтали */
    justify-content: center;
    gap: 50%;
}

#GeneralInfo #pagination > a {
    background-color: white;
    display: inline-block;
    border-radius: 100% / 100%;
    padding: 300%;
    border: black solid 1px;
    transition: 0.5s;
}

#GeneralInfo #pagination > a:hover{
    background-color: black;
}


#GeneralInfo .ButtonPost{
    background-color: white;
    color: black;
    transition: 0.5s;
    border: black solid 1px;
    margin-top: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-right: 2%;
    padding-left: 2%;
    border-radius: 25% / 100%;
}

#GeneralInfo .ButtonPost:active{
    background-color: white !important;
    color: black !important;
}

#GeneralInfo .ButtonPost:hover{
    background-color: #373737;
    color: white;
    transform: translateY(-2.5px)
}

#GeneralInfo #MessageForm{
    position: relative;
    border: black solid 1px;
    width: 94%;
    left: 3%;
    height: 85%;
    border-radius: 2% / 2%;
    margin-bottom: 0.5%;
    display: flex;
}

#GeneralInfo #message{
    display: block;
    width: 83%;
    border-radius: 25% / 25%;
    height: 25px;
    position: relative;
    left: 3%;
    border: black solid 3px;
}

#GeneralInfo #sendMessage{
    position: absolute;
    right: 3%;
    bottom: 1%;
    padding: 0.5%;
    border-radius: 20% / 20%;
}

.form-group{
    padding: 3%;
}

#passwordForm{
    margin-left: -4%;
    padding: 3%;
}