<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Пользователи</title>
        <link rel="stylesheet" th:href="@{/style.css}">
    </head>
    <body>
        <div th:id="ALL">
            <div th:id="Menu">
                <div th:id="UserText">
                    <a th:text="${user != null} ? ${user.getName()} + ' ' + ${user.getLastName()} : 'Войдите в аккаунт'"></a>
                </div>
                <div th:id="Entrance">
                    <a th:href="@{/api/v1/entrance}">Вход</a>
                </div>
                <div th:id="User">
                    <a th:href="@{/api/v1/users}">Пользователь</a>
                </div>
            </div>
            <div th:id="GeneralInfo">
                <h2 th:id="COUNT"
                    th:text="'Количество пользователей' + ' - ' + (${users != null} ? ${users.size()} : 0)"></h2>
                <div th:id="Search">
                    <form th:action="@{/api/v1/findByEmail}" method="post">
                        <label for="email">Email:</label>
                        <input type="text" id="email" name="email">
                        <br>
                        <button type="submit" th:class="ButtonPost">Найти</button>
                    </form>
                    <div th:if="${error}" style="color: red;">
                        <p th:text="${error}"></p>
                    </div>
                </div>
                <ul>
                    <li th:each="u : ${users}">
                        <div th:id="Transfer">
                            <span th:text="${u.name} + ' ' + ${u.lastName}"></span>
                             (<span th:text="${u.email}"></span>)
                            <span th:text="'возраст - ' + ${u.getAge()}"></span>
                            <span th:text="${u.gender.equals('male')} ? 'M' : 'Ж'"></span>
                        </div>
                    </li>
                </ul>
                <div th:id="pagination">
                    <button></button>
                    <button></button>
                </div>

            </div>
        </div>
    </body>
</html>